<footer>
  <div class="container">
    <div class="footer-widgets">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p>
            © Copyright 2018
          </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 align-right">
          <ul>
            <li>
              <a target="_BLANK" href="https://www.facebook.com/rafal.legiedz">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a target="_BLANK" href="https://twitter.com/rafek">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a target="_BLANK" href="https://www.linkedin.com/in/rafallegiedz/">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a target="_BLANK" href="https://github.com/rafek">
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
