<header>
  <div class="container">
    <div class="default-header header">
      <div class="logo">
        <a href="/">Rafał Legiędź |  rafek</a>
      </div>
      <div class="header-holder">
        <div class="hamburger display-none">
          <a href="#">
            <div class="hamburger-inner"></div>
          </a>
        </div>
        <div class="menu-holder">
          <nav>
            <ul id="menu" class="menu">
              <li class="">
                <a href="/">home</a>
              </li>
              <li class="">
                <a href="/developing">developing</a>
              </li>
              <li class="">
                <a href="/speaking">speaking</a>
              </li>
              <li class="">
                <a href="/organizing">organizing</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
